MONGODB_URI=mongodb+srv://username:password@hostname/
MONGODB_DATABASE=username

ELASTICSEARCH_URL=https://url
ELASTIC_API_KEY=api_key
ELASTICSEARCH_INDEX=index_name

REDIS_URL=redis://username:password@url
SEARCH_CACHE_TTL_SECONDS=